# محیط مجازی پایتون
venv/
env/
ENV/

# فایل‌های کامپایل شده پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های محیطی و امنیتی (رمزها)
.env
*.env

# دیتابیس SQLite (اگر دارید)
db.sqlite3
*.db

# فایل‌های آپلودی و استاتیک جمع‌آوری شده
media/
static/
mediafiles/
staticfiles/

# لاگ‌ها
logs/
*.log

# فایل‌های محلی ویرایشگرها
.vscode/
.idea/
.DS_Store

# فایل‌های موقت
*.tmp
*.swp
