{% extends 'base_shop.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4>اطلاعات سفارش</h4>
                </div>
                <div class="card-body">
                    <form method="post" id="order-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.number.label_tag }}
                                {{ form.number }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">تأیید و ادامه</button>
                        <a href="{% url 'customer_order_list' %}" class="btn btn-secondary">انصراف</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}