{% extends 'production/base.html' %}
{% load static %}

{% block title %}سلوی چوب{% endblock %}

{% block content %}
<div class="container-fluid py-4">

    <!-- ردیف اول -->
    <div class="row g-3 mb-3">
        {% url 'order_list' as order_list_url %}
        {% include 'components/cards/quick_link_card.html' with icon='list-ul' title='لیست سفارشات' href=order_list_url %}

        {% url 'order_item_list' as order_item_list_url %}
        {% include 'components/cards/quick_link_card.html' with icon='boxes' title='آیتم‌های سفارش' href=order_item_list_url %}

        {% url 'create_order_step1' as create_order_step1_url %}
        {% include 'components/cards/quick_link_card.html' with icon='plus-circle' title='ایجاد سفارش جدید' href=create_order_step1_url %}

        {% url 'admin_product_list' as admin_product_list_url %}
        {% include 'components/cards/quick_link_card.html' with icon='diagram-3' title='لیست محصولات' href=admin_product_list_url %}
    </div>

    <!-- ردیف دوم -->
    <div class="row g-3 mb-3">
        {% url 'product_create' as product_create_url %}
        {% include 'components/cards/quick_link_card.html' with icon='plus-square' title='ایجاد محصول جدید' href=product_create_url %}

        {% url 'scan_part' as scan_part_url %}
        {% include 'components/cards/quick_link_card.html' with icon='qr-code-scan' title='اسکن قطعه' href=scan_part_url %}

        {% url 'report_stages' as report_stages_url %}
        {% include 'components/cards/quick_link_card.html' with icon='bar-chart' title='گزارش مراحل تولید' href=report_stages_url %}

        {% url 'report_shipped' as report_shipped_url %}
        {% include 'components/cards/quick_link_card.html' with icon='truck' title='گزارش ارسال‌شده‌ها' href=report_shipped_url %}
    </div>

    <!-- ردیف سوم -->
    <div class="row g-3">
        {% url 'export_all_data' as export_all_data_url %}
        {% include 'components/cards/quick_link_card.html' with icon='download' title='خروجی Excel' href=export_all_data_url %}

        {% url 'import_data' as import_data_url %}
        {% include 'components/cards/quick_link_card.html' with icon='upload' title='ورود از Excel' href=import_data_url %}
    </div>

</div>
{% endblock %}
