{% extends 'base.html' %}

{% block title %}لیست کارگران{% endblock %}

{% block content %}
<h1>لیست کارگران</h1>
<table>
    <thead>
        <tr>
            <th>کاربر</th>
            <th>مرحله کاری</th>
            <th>فعال</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.user.username }}</td>
                <td>{{ worker.get_stage_display }}</td>
                <td>{{ worker.is_available|yesno:"فعال,غیرفعال" }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="3">هنوز کارگری تعریف نشده است.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
